*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.geral {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image:  url('https://img.freepik.com/fotos-premium/efeito-de-textura-de-casca-de-ovo-de-papel-aquarela-para-fundo-de-arte-fechar-se_434420-1403.jpg');
    color: #fff;
}

.headLine {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.banner {
    width: 100%;
    height: 80px;
    background-color: #88343c;
    margin-bottom: 20px;
    display: flex; /* Adicione display flex */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}



