/* Filter.css */

.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  
  gap: 1rem;
}

.filterContainer select {
  padding: 10px;
  border-radius: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  margin-right: 10px;
}