.bookCard {
    display: flex;
    width: 250px;
    min-width: 450px;
    padding: 2px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: solid rgba(255, 255, 255, 0.2) 2px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    color: #fff;
    margin: 15px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.bookCard:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
}

.bookCover {
    border-radius: 8px;
    margin-bottom: 12px;
    width: 75%;
    margin: 10px 25px;
}

.cardDetalhado {
    display: flex;
    max-height: 850px;
    flex-direction: row;
    gap: 20px;
    background-color: #88343c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #160202;
    margin: 20px;
}

.cardDetalhado img.Capa {
    border-radius: 8px;
    margin-bottom: 12px;
    width: 35%;
    margin: 10px 25px;
}

.detalhesTexto {
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 65%;
}

.detalhesTexto h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.detalhesTexto p.text-lg {
    font-size: 1.6rem;
    margin-bottom: 8px;
}

.bookInfo {
    text-decoration: none;
    color: #333;
    width: 100%;
    padding: 10px 0;

}

.bookTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #000;
    text-decoration: none;
}

.bookTitle:hover {
    color: #555;
    text-decoration: underline;
}

.bookAuthor {

    font-size: 1.2rem;
    color: #555;
    margin-bottom: 8px;
    text-decoration: none;
}

.bookAuthor:hover {
    color: #777;
    text-decoration: underline;
}